
.header {
    position: relative;
    display: block;
    // justify-content: space-between;
    background-color: $background-color;
}

.site-header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.header,
.footer {
    flex: 0 0 auto;
}

.nav {
    margin: 0 15%;
    border-top: 1px solid $font-color;
    border-bottom: 1px solid $font-color;
    text-align: center;
}

.nav ul {
    margin: 0 15%;
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: $background-color;
    vertical-align: baseline;
    color: $font-color;
}

.nav ul li a {
    color: $font-color;
}

.nav ul li a:hover {
    color: $links-hover;
    border-top: 1px solid $font-color;
    border-bottom: 1px solid $font-color;
}

// .nav ul {
//     display: flex;
//     justify-content: flex-end;
//     padding: 1em 0;
//     list-style: none;
//     color: $title-color;
// }

// .logo > a > img {
//     width: 256px;
//     max-width: 256px;
// }

// .site-header > title {
//     text-align: center;
//     justify-content: center;
// }

// .site-header > .logo {
//     width: 240px;
//     height: 240px;
// }

.title p {
    color: $font-color;
    font-size: 55px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-shadow: 4px 4px $shadow-color, 7px 7px $shadow-color-2;
}

.title h1 {
    color: $font-color;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
}
