
* {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Satisfy', cursive;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 3.5rem;
}

html {
    font-size: 100%;
}

body {
    line-height: $main-line-height;
}

p {
    font-size: $main-font-size;
    margin-bottom: $magic-number;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
