
/* Colours */
$links-hover: #b398a7;
$font-color: #978292;
$font-alternative-color: #fff;
$background-color: #211c20;
$background-alternative-color: rgb;
$footer-background-color: #3b2035;
$footer-color: #a3929e;
$title-color: #927e8d;
$header-background-color: #afa2b0;
$header-color: #927e8d;
$border-color: #dc858d;
$border-alternative-color: #363336;
$box-color: #867582;
$box-font-color: #000;
$box-a-color: #3b2035;
$pre-color: #6e5d6a;
$shadow-color: #b398a7;
$shadow-color: #b398a7;
$shadow-color-2: #5f535a;

$shadow-color: #413c3f;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;

// $font-body:
// $font-heading

/* Monokromatiskt färgschema
#E6C3D7 5 varianter av 

#66575F
#EA96C5
#663852
#B398A7
*/
