
/* Colours */
$links-hover: #b398a7;
$font-color: #5f535a;
$font-alternative-color: #fff;
$background-color: #e6c3d7;
$background-alternative-color: #fffaf0;
$footer-background-color: #663852;
$footer-color: #e6c3d7;
$title-color: #663852;
$header-background-color: #b398a7;
$header-color: #e6c3d7;
$border-color: #dc858d;
$border-alternative-color: #5a5a5a;
$box-color: #b398a7;
$box-a-color: #663852;
$box-font-color: #000;
$shadow-color: #998691;
$shadow-color-2: #b8a3af;


$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;

// $font-body:
// $font-heading

/* Monokromatiskt färgschema
#E6C3D7 5 varianter av 

#66575F
#EA96C5
#663852
#B398A7
*/
