
/* Colours */
$links-hover: #cd858d;
$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #f8efef;
$background-alternative-color: #e0fbfc;
$footer-background-color: #dc858d;
$footer-color: #f0dcdc;
$title-color: #dc858d;
$header-background-color: #f0dcdc;
$header-color: #cd858d;
$border-color: #dc858d;
$border-alternative-color: #5a5a5a;
$box-color: #f0dcdc;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;

/* Pastelle theme 
#F0DCDC
#DBB6B0
#F0D1D7
#CD858D
*/
